[build]
publish = "."
functions = "netlify/functions"

[[redirects]]
from = "/health"
to = "/.netlify/functions/health"
status = 200

[[redirects]]
from = "/whs-inventory/v1"
to = "/.netlify/functions/whs-inventory"
status = 200
